<div class="date-picker-dialog">
  <h1 mat-dialog-title>Kezdő dátum</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" [formControl]="datePicker">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Mégse</button>
    <button mat-raised-button (click)="chooseStartDate()">Kiválaszt</button>
  </mat-dialog-actions>
</div>
