.cart-tables {
  display: flex;

  .membership-table {
    width: 45%;
    margin-right: 20px;
    height: fit-content;
  }

  .product-table {
    width: 45%;
    height: fit-content;
  }

  .mat-column-price {
    flex: 0 1 20%;
    justify-content: center;
  }

  .mat-column-quantity {
    flex: 0 1 20%;
    justify-content: center;
  }

  .mat-column-startDate {
    flex: 0 1 20%;
    justify-content: center;
  }

  .mat-column-delete {
    padding: 0;
    flex: 0 0 40px;
    justify-content: center;

    button:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}
