
mat-toolbar {
  justify-content: space-between;
  align-items: center;

  .nav-container {
    display: flex;
  }
  .nav-list {
    display: flex;
    padding: 0;

    mat-icon {
      margin-right: 5px;
    }

    mat-list-item {
      margin: 0 10px;
      color: white;
      border-radius: 12px;
    }
  }
  .login-container {
    display: flex;
    align-items: center;

    p{
      margin: 0 20px;
    }
  }
}


