<header class="mat-elevation-z4">
  <mat-toolbar color="primary">
    <div class="nav-container">

    <button mat-icon-button (click)="handleSideNav()" *ngIf="handSet || user">
      <mat-icon>menu</mat-icon>
    </button>
<mat-nav-list class="nav-list" *ngIf="!handSet && (!user || !ManagementRoles.includes(user!.role))">
  <mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>home</mat-icon>
    <a class="nav-element">Főoldal</a>
  </mat-list-item>
  <mat-list-item routerLink="/membershiptypes" routerLinkActive="active">
    <mat-icon>fitness_center</mat-icon>
    <a class="nav-element">Bérlet árak</a>
  </mat-list-item>
  <mat-list-item routerLink="/gallery" routerLinkActive="active">
    <mat-icon>photo_library</mat-icon>
    <a class="nav-element">Galéria</a>
  </mat-list-item>
  <mat-list-item routerLink="contact" routerLinkActive="active">
    <mat-icon>contact_mail</mat-icon>
    <a class="nav-element">Kapcsolat</a>
  </mat-list-item>

</mat-nav-list>

    </div>

    <mat-form-field *hasRole="['ADMIN', 'EMPLOYEE']" appearance="outline">
      <input matInput placeholder="Kulcs száma" [value]="key.value.toUpperCase()" [formControl]="key">
      <button (click)="searchForUserByKey()" matSuffix mat-icon-button><mat-icon>search</mat-icon></button>
    </mat-form-field>

    <div class="login-container">
      <p *ngIf="isLoggedIn && !handSet">{{user?.lastName}} {{user?.firstName}}</p>
      <button mat-raised-button (click)="handleAuth()">
        <mat-icon>{{!isLoggedIn ? "person" : "person_outline"}}</mat-icon>
        {{!isLoggedIn ? "Bejelentkezés" : "Kijelentkezés"}}
      </button>

    </div>
  </mat-toolbar>
</header>
