<header>
  <mat-toolbar color="primary">
    <div class="nav-container">

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

<mat-nav-list class="nav-list">
  <mat-list-item>
    <mat-icon>fitness_center</mat-icon>
    <a routerLink="/membershiptypes" routerLinkActive="active" class="nav-element">Bérlet árak</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>image</mat-icon>
    <a class="nav-element">Galéria</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>contact_mail</mat-icon>
    <a class="nav-element">Kapcsolat</a>
  </mat-list-item>

</mat-nav-list>
    </div>
    <div class="login-container">
      <button mat-raised-button>
        <mat-icon>person</mat-icon>
        Bejelentkezés
      </button>
    </div>
  </mat-toolbar>
</header>
