@import "src/variables";
.active {
  border: none;
  background: green;
  color:white;
}

.expired {
  background: $redish;
  color: white;
}

.expiring {
  background: darkorange;
  color:white;
}

mat-cell{
  color:inherit;
}
