@import "src/variables";
.active {
  border: none;
  background: green;
  color:white;
}

.expired {
  background: $redish;
  color: white;
}

.expiring {
  background: darkorange;
  color:white;
}

.not-yet-active{
  background-color: #484848;
  color: white;
}

.membership-route{
  display: grid;
  grid-template-areas: "pres sell";
  grid-template-rows: 100%;
  grid-template-columns: 4fr 3fr;
  grid-column-gap: 20px;

  .pres {
    grid-area: pres;
    .user-memberships{
      width: 100%;
      max-height: 1000px;
      overflow-y: auto;
      mat-cell{
        color:inherit;
      }
    }

    .action-bar {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .management-actions{

      }
    }
  }
  .sell {
    grid-area: sell;
  }
}


