@import "src/variables";
.active {
  border: none;
  background: green;
  color:white;
}

.expired {
  background: $redish;
  color: white;
}

.expiring {
  background: darkorange;
  color:white;
}

.user-memberships{
  width: 1000px;
  mat-cell{
    color:inherit;
  }
}


.prev-membership {
  margin-top: 20px;
}
