mat-sidenav-container {
  background-color: #e7e7e7;
  mat-icon {
    margin-right: 5px;
  }
  main {
    height: 100vh;
  }

  .nav-container {
    padding: 12px 24px;
    mat-list-item {
      border-radius: 12px;
    }
  }

  h3 {
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.5);
    background-color: lightgray;
    padding: 10px;
    margin: 0 auto;
  }
}


