<div class="user-profile-wrapper">

  <mat-card class="user-info mat-elevation-z6" *ngIf="user">
    <button *hasRole="['ADMIN', 'EMPLOYEE']" class="update-button" mat-icon-button (click)="updateUserInfo()"
            matTooltip="Vendég adatainak módosítása" matTooltipPosition="right"
            matTooltipShowDelay="200"
            matTooltipHideDelay="200">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-card-header>
      <div class="name mat-elevation-z4">
        <p>{{user.lastName}} {{user.firstName}}</p>
      </div>
    </mat-card-header>
    <mat-card-subtitle>
      <div class="balance mat-elevation-z4" [ngClass]="{'positive' : user.balance >= 0, 'negative' : user.balance < 0}">
        <p>Egyenleg: {{user.balance}}</p>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="birth-date mat-elevation-z4">
        <p>Születési év: {{user.birthDate | date:'yyyy.MM.dd.'}} </p>
        <p>Kor: {{getYears}}</p>
      </div>
    </mat-card-content>
  </mat-card>



  <div class="action-bar">
  <mat-list>
    <mat-list-item (click)="navigateToMemberships()" class="nav-button">
      <a>Bérletek</a>
    </mat-list-item>
    <mat-list-item (click)="navigateToProducts()" class="nav-button">
      <a>Büfé</a>
    </mat-list-item>
    <div class="cart-wrapper" *ngIf="itemsInCartCount > 0">
      <button (click)="navigateToCart()" mat-icon-button class="cart"><mat-icon>shopping_cart</mat-icon></button>
      <p class="counter">{{itemsInCartCount}}</p>
    </div>

  </mat-list>
    <ng-container *ngIf="isAnyActive">
    <button *hasRole="['ADMIN', 'EMPLOYEE']" class="check-in" mat-raised-button (click)="checkInUser()">Beléptet</button>
    </ng-container>
  </div>
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>

</div>



