<div class="user-profile-wrapper">

  <mat-card class="user-info mat-elevation-z6">
    <mat-card-header>
      <div class="name mat-elevation-z4">
        <p>{{user!.lastName}} {{user!.firstName}}</p>
      </div>
    </mat-card-header>
    <mat-card-subtitle>
      <div class="balance mat-elevation-z4" [ngClass]="{'positive' : user!.balance >= 0, 'negative' : user!.balance < 0}">
        <p>Egyenleg: {{user!.balance}}</p>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="birth-date mat-elevation-z4">
        <p>Születési év: {{user!.birthDate | date:'yyyy.MM.dd.'}} </p>
        <p>Kor: {{getYears}}</p>
      </div>
    </mat-card-content>
  </mat-card>



  <div class="action-bar">
  <mat-list>
    <mat-list-item class="nav-button">
      <a (click)="navigateToMemberships()">{{user!.role === 'BASIC' ? 'Bérleteim' : 'Bérletek'}}</a>
    </mat-list-item>
    <mat-list-item class="nav-button">
      <a>{{user!.role === 'BASIC' ? 'Fogyasztásaim' : 'Büfé'}}</a>
    </mat-list-item>
      <button mat-icon-button class="cart"><mat-icon>shopping_cart</mat-icon></button>
  </mat-list>
    <button *hasRole="['ADMIN', 'EMPLOYEE']" class="check-in" mat-raised-button>Beléptet</button>
  </div>
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>

</div>



