@import "/src/variables";
.user-profile-wrapper {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  margin: 10px auto;
  width: 90%;
  grid-template-areas: "user-info action-bar"
                        "user-info router";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 350px 4fr;


  .user-info {

    padding: 12px;
    width: fit-content;
    height: fit-content;
    grid-area: user-info;
    justify-items: center;
    position: relative;

    .update-button{
      position: absolute;
      top: 5px;
      left: 10px;
      &:hover {
        background-color: whitesmoke;
      }
    }
    p {
      margin: 0;
      font-size: 2rem;
    }

    .name {
      padding: 24px;
      margin: 20px;
      border-radius: 16px;
      background: $primary;
      width: fit-content;
      height: fit-content;
      color: white;
    }

    .balance {
      padding: 24px;
      margin: 20px;
      border-radius: 16px;
      max-width: 230px;
      height: fit-content;
      color: white;
    }

    .birth-date {
      padding: 24px;
      margin: 20px;
      border-radius: 16px;
      max-width: 230px;
      height: fit-content;
      color: black;

      p {
        font-size: 1rem;
      }
    }

    .negative {
      background: #ff2c2c;
    }

    .positive {
      background: green;
    }
  }

    .action-bar{
      grid-area: action-bar;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      width: 100%;
      mat-list {
        mat-list-item.nav-button {
          padding: 6px;
          margin-right: 10px;
          border-radius: 12px;
          justify-content: flex-start;
          background-color: #ffd15e;
          width: fit-content;
          display: inline-block;
          cursor: pointer;
          &:hover, &:focus {
            background-color: #ffd137;
          }
        }
        .cart-wrapper {
          display: inline-block;
          position: relative;
          .counter {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            text-align: center;
            background-color: $redish;
            color: white;
            border-radius: 50%;
          }
          .cart{
            &:hover, &:focus {
              background-color: #ffd137;
              color: white;
            }
          }

        }
      }

      .check-in {
        width: 200px;
        height: 100%;
        border-radius: 12px;
        margin-right: 10px;
        padding: 6px;
        font-size: 2rem;
        font-weight: bolder;
      }
    }

  .router-content {
    grid-area: router;
  }

  }

