.membershiptype-list {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 12px;


  mat-header-cell {
    font-weight: bolder;
    font-size: 1rem;
    border-bottom: 2px solid black;
    justify-content: center;
  }

  mat-cell {
    justify-content: center;
  }

  .mat-column-name {
    border-right: 1px solid black;
    justify-content: flex-end;
    padding-right: 10px;
    flex: 0 0 12%;
  }

  .mat-column-edit{
    flex: 0 0 40px;
    justify-content: center;

    button:hover {
      background-color: white;
      cursor: pointer;
    }
  }

  .mat-column-delete {
    padding: 0;
    flex: 0 0 40px;
    justify-content: center;

  button:hover{
    background-color: white;
    cursor: pointer;
  }
  }

  mat-row:hover {
    background-color: whitesmoke;
  }
  mat-row.clickable:hover {
    cursor: pointer;
  }
}
